html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-size: 16px;
	font-family: Lato !important;
	color: #666;
}

/* ---------------------------------- video section ------------------------------------------- */
#summer {
	height: 600px;
	position: relative;
	width: 100%;
}

.videoContainer {
	position: relative;
}

#summer video {
	position: absolute;
	display: block;
	top: 40px;
	width: 100%;
	z-index: -100;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.videoText {
	text-align: center;
}

#topLine {
	font-size: 40px;
	font-weight: 700;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 310px;
	padding-bottom: 5px;
	text-align: center;
	z-index: 100;
	margin-bottom: 0 !important;
}

#secondLine {
	font-size: 22px;
	color: #FFF;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0 !important;
	font-weight: 300;
	z-index: 100;
}

.bounce {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 20px;
	z-index: 100;
}

.bounce img {
	height: 30px;
	width: auto;
	padding: 5px;
}

/* menubar */
.menuBar {
	background-color: #FFF;
	color: #595959;
	box-shadow: 0px 0.5px 1px #888888;
	top: 0;
	width: 100%;
	position: fixed;
	-webkit-transform: translateZ(0);
	z-index: 10000;
	overflow-x: hidden;
}

.menuBar .container {
	padding-bottom: 15px;
}

.menuBar .nameHeader {
	font-weight: 300;
	display: inline-block;
	position: relative;
	float: left;
	font-size: 20px;
	margin-top: 17px;
}

.menuBar .navscroll {
	font-weight: 300;
	display: inline-block;
	position: relative;
	float: right;
	font-size: 16px;
	margin-top: 20px;
}

.menuBar .aboutLink a {
	margin-right: 35px;
}

.menuBar .portfolioLink a {
	margin-right: 35px;
}

.menuBar img {
	position: inline-block;
	width: 18px;
	display: none;
	cursor: pointer;
}

.responsiveDropDown {
	width: 140px;
	z-index: 10000;
	display: none;
	font-size: 16px;
	box-shadow: 0px 0.5px 1px #888888;
	margin-top: 61px;
	position: fixed;
	right: 0;
}

.responsiveDropDown li {
	color: #595959;
	background-color: #FFFFFF;
	padding: 10px;
	width: 140px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	box-shadow: 0px 0.5px 1px #888888;
	margin-bottom: 1px;
	right: 2px;
	overflow: hidden;
}

#learnmoresec a:link {
	color: #595959;
	text-decoration: none;
}

#learnmoresec a:visited {
	color: #595959;
	text-decoration: none;
}

#learnmoresec a:hover {
	color: #595959;
	text-decoration: none;
}

#learnmoresec a:active {
	color: #595959;
	text-decoration: none;
}

.menuBar a:link {
	color: #595959;
	text-decoration: none;
}

.menuBar a:visited {
	color: #595959;
	text-decoration: none;
}

.menuBar a:hover {
	color: #595959;
	text-decoration: none;
}

.menuBar a:active {
	color: #595959;
	text-decoration: none;
}

.responsiveDropDown a:link {
	color: #595959;
	text-decoration: none;
}

.responsiveDropDown a:visited {
	color: #595959;
	text-decoration: none;
}

.responsiveDropDown a:hover {
	color: #595959;
	text-decoration: none;
}

.responsiveDropDown a:active {
	color: #595959;
	text-decoration: none;
}

/* ------------------------------------- general groupings ----------------------------------------------- */
section {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 70px;
	display: block;
	position: relative;
}

section h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	color: #595959;
	margin-top: 70px;
	margin-bottom: 20px;
	width: 100%;
}

hr {
	height: 1px;
	border-top: 1px solid #d3d6d6 !important;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px !important;
	width: 25px;
}

/* ---------------------------------- my story section -------------------------------------------- */
#mystory {
	background-color: #fff;
	z-index: 1000;
	padding-top: 10px;
	margin-top: 105px;
}

.myStoryContent {
	position: relative;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.myStoryContent .myStoryText {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.8;
	text-align: justify;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 700px;
}

/* ------------------------------- portfolio section ------------------------------------------ */
#portfolio {
	background-color: #f5f5f5;
	padding-bottom: 50px;
	padding-top: 10px;
}

.item {
	position: relative;
}

.item .col-md-4.itemLeft {
	padding-right: 11px;
}
.item .col-md-4.itemMiddle {
	padding-left: 13px;
	padding-right: 13px;
}
.item .col-md-4.itemRight {
	padding-left: 11px;
}

.img-wrap {
	display: inline-block;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	transition: all .3s ease-in-out;
}

.img-wrap:hover {
	transform: translateY(-4px);
    box-shadow: 0 5px 20px rgba(0,0,0,.15);
}

.img-wrap img {
	width: 100%;
	height: auto;
	margin-bottom: 0;
	border: 1px solid #ebebeb;
	border-bottom: none;
}

.img-wrap .nameHolder {
	height: 77px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ebebeb;
	border-top: none;
	margin-top: -2px;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
}

.img-wrap .nameHolder h5 {
	text-align: left;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 2px;
	margin-top: 0;
}

.img-wrap .nameHolder p {
	text-align: left;
	margin-bottom: 0;
	font-size: 16px;

}

.img-wrap a:link {
	color: #666;
	text-decoration: none;
}

.img-wrap a:visited {
	color: #666;
	text-decoration: none;
}

.img-wrap a:hover {
	color: #666;
	text-decoration: none;
}

.img-wrap a:active {
	color: #666;
	text-decoration: none;
}

/* ------------------------------------- contact section --------------------------------------- */
#contact {
	position: relative;
	text-align: center;
}

.contactChoices li {
	display: inline-block;
}

.contactChoices li img {
	width: 50px;
	height: 50px;
}

.contactChoices .contactEmail {
	margin-right: 10px;
}

.contactChoices .contactLinkedIn {
	margin-right: 10px;
}

.contactChoices .contactFacebook {
	margin-right: 10px;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

/* --------------------------------------- footer section -------------------------------------- */
footer {
	background-color: #FFF;
	color: #595959;
	height: 60px;
	box-shadow: 0.5px 0px 1px #595959;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	z-index: 10000;
}

footer p {
	font-weight: 300;
	padding-top: 20px;
	font-size: 16px;
}

/* individual views */
.individualViewBody {
	background-color: #eee;
}

.whiteBox {
	background-color: #fff;
	padding: 35px 35px 40px 35px;
	margin-bottom: 25px;
	margin-top: 45px;
	color: #595959;
}

.whiteBoxHeader {
	display: inline-block;
}

.whiteBoxHeader h1 {
	margin-top: 0;
	font-weight: 700;
	font-size: 30px;
}

.whiteBoxLink {
	display: inline-block;
	float: right;
}

.whiteBoxLink a {
	color: #595959;
	font-size: 16px;
}

.whiteBoxLink a:hover {
	color: #595959;
	text-decoration: none;
}

.whiteBoxLink img {
	height: 13px;
	width: 13px;
	margin-right: 5px;
	margin-top: -3px;
}

.whiteBoxLink p {
	display: inline;
}

.technologiesListed {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 5px;
}

.generalDescription {
	font-size: 16px;
	line-height: 25px;
}

.desktopRow {
	margin-bottom: 40px;
}

.topDescription {
	margin-bottom: 25px;
}

.desktopImage {
	width: 100%;
}

.annotation {
	font-size: 16px;
	line-height: 25px;
}

.flockDemoVideo, .flockImage1, .flockImage2, .kamaainaImage1 {
	margin-bottom: 15px;
}

/* ---------------------------------------------------------------------------------------------
media queries
----------------------------------------------------------------------------------------------*/
@media only screen and (max-width : 1199px) {
	#summer {
		width: auto;
		height: 500px;
	}
	#topLine {
		font-size: 35px;
		padding-top: 285px;
	}
}

@media only screen and (max-width : 991px) {
	.menuBar p {
		font-weight: 300;
		display: inline-block;
		position: relative;
		float: left;
		font-size: 1.375em;
		margin-top: 18px;
		margin-left: 25px;
	}

	.menuBar ul {
		display: none;
	}

	.menuBar li {
		display: none;
	}

	.menuBar img {
		float: right;
		position: relative;
		display: inline-block;
		width: 18px;
		top: 20px;
	}

	#mystory {
		margin-top: 0;
	}

	.myStoryContent {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 500px;
	}

	.myStoryContent .myStoryText {
		font-weight: 300;
		color: #595959;
		font-size: 16px;
		line-height: 2;
		text-align: justify;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	#topLine {
		font-size: 35px;
		padding-top: 225px;
	}
	.img-wrap {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		transition: all .3s ease-in-out;
	}

	.itemLeft {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.itemMiddle {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.item img {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		float: none;
		display: block;
	}

	/* individual view styles */
	.desktopImage {
		margin-bottom: 25px;
	}
}

@media only screen and (max-width : 767px) {
	#summer video {
		display: none;
	}
	.img-wrap img {
		width: 100%;
	}

	header {
		background: url("images/Query_Img.png");
		background-repeat: no-repeat;
		width: auto;
		background-size: cover;
		background-position: center center;
		overflow: hidden;
	}

	#topLine {
		width: 100%;
		color: #FFF;
		font-size: 27px;
		padding-top:225px;
	}

	#secondLine {
		padding-top: 0px;
		width: 100%;
		color: #FFF;
		font-size: 18px;
		margin-top: -10px;
	}

	.bounce {
		margin-top: 15px;
	}

	.bounce img {
		height: 23px;
		width: auto;
		padding: 5px;
	}

	.menuBar p {
		font-weight: 300;
		display: inline;
		position: relative;
		float: none;
		font-size: 1.875em;
		margin-top: 14px;
		margin-left: auto;
		margin-right: auto;
	}

	.menuBar ul {
		display: none;
	}

	.menuBar li {
		display: none;
	}

	#mystory {
		width: 100%;
		margin-top: 0;
	}

	#mystory .myStoryContent {
		font-weight: 300;
		color: #595959;
		font-size: 18px;
		line-height: 2;
		text-align: justify;
		width: 100%;
	}

	#mystory .myStoryText {
		width: 100%;
	}

	#portfolio {
		padding-bottom: 60px;
	}

	.img-wrap {
		display: inline-block;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin-bottom: 25px;
		transition: all .3s ease-in-out;
	}

	.item .col-md-4.itemLeft {
		padding-left: 15px;
		padding-right: 15px;
	}
	.item .col-md-4.itemMiddle {
		padding-left: 15px;
		padding-right: 15px;
	}
	.item .col-md-4.itemRight {
		padding-left: 15px;
		padding-right: 15px;
	}

	.img-wrap:hover {
		transform: none;
	    box-shadow: none;
	}

	.item img {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		float: none;
		display: block;
	}

	/* individual views */
	.desktopImage {
		margin-bottom: 25px;
	}

	.whiteBoxLink {
		display: block;
		float: none;
		margin-bottom: 10px;
		margin-top: -8px;
	}

	.whiteBoxLink a {
		display: inline-block;
	}

}


