html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-image: url("http://cdn2.bigbitecreative.com/content/uploads/2013/10/hero-home.jpg");
	background-repeat: no-repeat;
	height: 720px;
	background-size: 2500px;
}

#topLine {
	font-family: Josefin Slab;
	font-size: 70px;
	width: 1080px;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 250px;
	line-height: 100%;
	text-align: center;
}

#secondLine {
	font-family: Lato;
	font-size: 30px;
	width: 600px;
	color: #FFFFFF;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-weight: 300;
	line-height: 0%;
}

#thirdLine {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}

#thirdLine a {
	font-family: Lato;
	font-size: 25px;
	width: 150px;
	color: #FFFFFF;
	font-weight: 300;
	border: 1px solid white;
	padding: 15px;
	border-radius: 5px;
}

.menuBar {
	background-color: #FFFFFF;
	color: #595959;
	height: 60px;
	box-shadow: 0px 0.5px 1px #888888;
	position: fixed;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	z-index: 100;
	display: none;
}

.menuBar p {
	font-family: Josefin Slab;
	font-weight: 300;
	display: inline;
	position: relative;
	float: left;
	font-size: 30px;
	top: 14px;
	margin-left: 10px;
}

.menuBar ul {
	margin-right: 80px;
}

.menuBar li {
	font-family: Lato;
	font-weight: 300;
	display: inline;
	font-size: 16px;
	position: relative;
	float: right;
	margin-right: 50px;
	top: 20px;
}

.hoverlink a:link {
	color: #595959;
	text-decoration: none;
}

.hoverlink a:visited { 
	color: #595959; 
	text-decoration: none;
}

.hoverlink a:hover { 
	color: #595959; 
	text-decoration: none;
}

.hoverlink a:active { 
	color: #595959; 
	text-decoration: none;
}

#thirdLine a:link {
	color: #FFFFFF;
	text-decoration: none;
}

#thirdLine a:visited { 
	color: #FFFFFF;
	text-decoration: none;
}

#thirdLine a:hover { 
	color: #FFFFFF; 
	text-decoration: none;
}

#thirdLine a:active { 
	color: #FFFFFF;
	text-decoration: none;
}

section h2 {
	text-align: center;
	font-family: Lato;
	font-size: 30px;
	font-weight: 300;
	color: #595959;
	margin-top: 70px;
	margin-bottom: 20px;
}

hr {
	color: #E0E0E0;
	background-color: #E0E0E0;
	height: 1px;
	border: none;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 50px;
}

#thirdLine {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}

#thirdLine a {
	font-family: Lato;
	font-size: 25px;
	width: 150px;
	color: #FFFFFF;
	font-weight: 300;
	border: 1px solid white;
	padding: 15px;
	border-radius: 5px;
}

#thirdLine a:hover {
	background-color: #FFFFFF;
	color:#595959;
}

.contentsec {
	margin-bottom: 70px;
	width: 1080px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.laptop img {
	width: 320px;
	height: auto;
}

#row1 img {
	display: inline;
	position: relative;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

#row2 img {
	display: inline;
	position: relative;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}


#row3 img {
	display: inline;
	position: relative;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
}

.myStory img {
	width: 200px;
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

.myStory p {
	font-family: Lato;
	font-weight: 300;
	color: #595959;
	font-size: 18px;
	line-height: 2;
	text-align: justify;
}

.contact {
	position: relative;
	display: block;
}

.contactChoices li {
	display: inline;
}

.contactChoices li img {
	width: 30px;
	height: 30px;
	padding: 13px;
	margin: 5px;
	background-color: #595959;
	border-radius: 5px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}




