html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}	

body {
	font-size: 16px;
}

header {
	height: 39em;
	width: 100%;
}
#summer video {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -100;
	background-size: cover;
}


#topLine {
	font-family: Josefin Slab;
	font-size: 4.375em;
	width: 74.48275862068966%;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3.5em;
	text-align: center;
	z-index: 100;
	text-transform: uppercase;
}

#secondLine {
	font-family: Lato;
	font-size: 1.875em;
	width: 41.379310344827586%;
	color: #FFFFFF;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-weight: 200;
	margin-top: -0.515em;
	z-index: 100;
}

#learnmoresec {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 30px;
	z-index: 100;
}

#learnmoresec img {
	height: 20px;
	width: auto;
	padding: 5px;
}

.menuBar {
	background-color: #FFFFFF;
	color: #595959;
	height: 60px;
	box-shadow: 0px 0.5px 1px #888888;
	position: fixed;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	z-index: 90000;
	display: none;
}

.menuBar p {
	font-family: Josefin Slab;
	font-weight: 300;
	display: inline;
	position: relative;
	float: left;
	font-size: 1.875em;
	margin-top: 14px;
	margin-left: 7.586206896551724%;
}

.menuBar ul {
	margin-right: 4.1379310344827586%;
}

.menuBar li {
	font-family: Lato;
	font-weight: 300;
	display: inline;
	font-size: 1em;
	position: relative;
	float: right;
	margin-right: 3.4482758620689655%;
	top: 20px;
}

#learnmoresec a:link {
	color: #595959;
	text-decoration: none;
}

#learnmoresec a:visited { 
	color: #595959; 
	text-decoration: none;
}

#learnmoresec a:hover { 
	color: #595959; 
	text-decoration: none;
}

#learnmoresec a:active { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:link {
	color: #595959;
	text-decoration: none;
}

.menuBar a:visited { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:hover { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:active { 
	color: #595959; 
	text-decoration: none;
}

section h2 {
	text-align: center;
	font-family: Lato;
	font-size: 1.875em;
	font-weight: 300;
	color: #595959;
	margin-top: 70px;
	margin-bottom: 20px;
}

hr {
	color: #E0E0E0;
	background-color: #E0E0E0;
	height: 1px;
	border: none;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 3.4482758620689655%;
}

.contentsec {
	margin-bottom: 70px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#mystory {
	width: 74.48275862068966%;
}

#mystory img {
	width: 225px;
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

#mystory p {
	font-family: Lato;
	font-weight: 300;
	color: #595959;
	font-size: 1.125em;
	line-height: 2;
	text-align: justify;
}

.item {
	position: relative;
}

.item img {
	width: 375px;
	float: left;
}

.img-wrap {
	width: 375px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	overflow: hidden; 
}

.img-overlay {
	background-color:#000;
	bottom:0;
	color:#fff;
	opacity:0;
	position:absolute;
	width:100%;
	height: 100%;
	z-index:1000;
}
.img-wrap:hover .img-overlay {
	opacity:0.85;
	transition:opacity 0.25s;
	-moz-transition:opacity 0.25s;
	-webkit-transition:opacity 0.25s;
}

#laptop-one h4 {
	font-family: Pacifico;
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 60px;
	margin-bottom: 40px;
}

#laptop-two h4 {
	font-family: Merriweather;
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#laptop-three h4 {
	font-family: Pacifico;
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 60px;
	margin-bottom: 40px;
}

#laptop-four h4 {
	font-family: Josefin Slab;
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 30px;
}

#laptop-five h4 {
	font-family: Amatic SC;
	color: #FFFFFF;
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 40px;
}

#laptop-six h4 {
	font-family: Raleway;
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 60px;
	margin-bottom: 40px;
}

#laptop-seven h4 {
	font-family: Grand Hotel;
	color: #FFFFFF;
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 40px;
}

#laptop-eight h4 {
	font-family: Josefin Slab;
	color: #FFFFFF;
	font-size: 35px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.img-wrap a {
	font-family: Lato;
	font-size: 20px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 25px;
	padding: 12px;
	font-weight: 700;
}

.img-wrap a:hover {
	background-color: #FFFFFF;
	color: #292929;
}





.item li {
	display: inline-block;
}

#laptop-one, #laptop-two, #laptop-three, #laptop-four, #laptop-five, #laptop-six {
	margin-bottom: 10px;
}

.row a:link {
	color: #595959;
	text-decoration: none;
}

.row a:visited { 
	color: #595959; 
	text-decoration: none;
}

.row a:hover { 
	color: #595959; 
	text-decoration: none;
}

.row a:active { 
	color: #595959; 
	text-decoration: none;
}

#contact {
	position: relative;
	display: block;
}

.contactChoices li {
	display: inline;
}

.contactChoices li img {
	width: 30px;
	height: 30px;
	padding: 13px;
	margin: 5px;
	background-color: #595959;
	border-radius: 5px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------------------------------------------------------------------------------------------
media queries
----------------------------------------------------------------------------------------------*/

@media only screen and (max-width : 480px) {
	body {
		font-size: 14px;
	}
	#topLine {
		padding-top: 160px;
		width: 100%;
		color: #FFFFFF;
	}
	#secondLine {
		padding-top: 12px;
		width: 100%;
		color: #FFFFFF;
	}
	header {
		height: 480px;
		background-repeat: no-repeat;
		width: auto;
		background-size: 250%;
		background-position: -120px -50px;
	}
	.menuBar p {
		display: none;
	}
	#laptop-one, #laptop-two, #laptop-three, #laptop-four, #laptop-five, #laptop-six, #laptop-seven {
	margin-bottom: 100px;
	}
	.menuBar ul {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		position: relative;
		display: inline-block;
	}
	.menuBar li {
		margin-right: 25px;
		margin-left: 25px;
		text-align: center;
		position: relative;
		margin-top: 3px;
	}
	#portfolio img {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		position: relative;
		display: block;
		width: 295px;
	}
}

@media only screen and (max-width: 1360px) {
	#topLine {
		font-family: Josefin Slab;
		font-size: 4em;
		width: 74.48275862068966%;
		color: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		padding-top: 3.5em;
		text-align: center;
	}

	#secondLine {
		font-family: Lato;
		font-size: 1.6em;
		width: 41.379310344827586%;
		color: #FFFFFF;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		font-weight: 300;
		margin-top: -0.515em;
	}
	#portfolio img {
		width: 352px;
	}
}

@media only screen and (max-width: 1245px) {
	#topLine {
		font-family: Josefin Slab;
		font-size: 3.75em;
		width: 70.48275862068966%;
		color: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		padding-top: 3.5em;
		text-align: center;
	}

	#secondLine {
		font-family: Lato;
		font-size: 1.4em;
		width: 41.379310344827586%;
		color: #FFFFFF;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		font-weight: 300;
		margin-top: -0.515em;
	}
	header {
		height: 40em;
		width: 100%;
		background-size: 105%;
	}
	#portfolio img {
		width: 351px;
	}
}
@media only screen and (max-width: 768px) {
	body {
		font-size: 14;
	}
	#topLine {
		padding-top: 185px;
		width: 100%;
		color: #FFFFFF;
	}
	#secondLine {
		padding-top: 12px;
		width: 100%;
		color: #FFFFFF;
	}
	header {
		height: 480px;
		background-repeat: no-repeat;
		width: auto;
		background-size: 250%;
		background-position: -300px 0px;
	}
	.menuBar p {
		display: none;
	}
	#lastpic {
		margin-bottom: 0px;
	}
	#portfolio img {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		position: relative;
		display: block;
		width: 345px;
	}
	.menuBar p {
		padding-top: 5px;
	}
	.menuBar li {
		margin-right: 25px;
		margin-left: 25px;
		text-align: center;
		position: relative;
		margin-top: 3px;
	}
	.menuBar ul {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		position: relative;
		display: inline-block;
	}
}

@media only screen and (max-width: 1024px) {
	body {
		font-size: 15px;
	}
	#lastpic {
		margin-bottom: 0px;
		text-align: center;
	}
	#topLine {
		padding-top: 235px;
		width: 100%;
		color: #FFFFFF;
	}
	#secondLine {
		padding-top: 12px;
		width: 100%;
		color: #FFFFFF;
	}
	header {
		height: 470px;
	}
	#portfolio img {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		position: relative;
		display: block;
		width: 350px;
	}
}





















