html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-color: #A8DBA8;
	padding-left: 100px;
	padding-top: 255px;
	padding-bottom: 255px;
}

#topLine{
	font-family: Lato;
	font-size: 30px;
	width: 600px;
	color: #FFFFFF;
	line-height: 0%;
	padding-left: 65px;
	font-weight: 300;
}

#secondLine {
	font-family: Pacifico;
	font-size: 70px;
	width: 600px;
	color: #FFFFFF;
	line-height: 80%;
}

#thirdLine {
	font-family: Lato;
	font-size: 30px;
	width: 600px;
	color: #FFFFFF;
	text-align: right;
	margin-left: -40px;
	font-weight: 300;
	line-height: 135%;
}

header h2 {
	color: #FFFFFF;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: 300;
}

.menuBar {
	background-color: #FFFFFF;
	color: #595959;
	height: 60px;
	box-shadow: 0px 0.5px 1px #888888;
	position: fixed;
	width: 100%;
	z-index: 100;
	display: none;
}

.menuBar p {
	font-family: Pacifico;
	display: inline;
	position: relative;
	float: left;
	font-size: 30px;
	top: 14px;
	margin-left: 50px;
}

.menuBar li {
	font-family: Lato;
	font-weight: 300;
	display: inline;
	font-size: 16px;
	position: relative;
	float: right;
	margin-right: 50px;
	top: 20px;
}

section h2 {
	text-align: center;
	font-family: Lato;
	font-size: 50px;
	font-weight: 300;
	color: #595959;
	margin-top: 70px;
	margin-bottom: 70px;
}

hr {
	color: #E0E0E0;
	background-color: #E0E0E0;
	width: 960px;
	height: 1px;
	border: none;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.portfolio {
	margin-bottom: 70px;
}

#projectRow1 img {
	width: 960px;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.two {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.two img {
	width: 470px;
	height: 250px;
	position: relative;
	display: inline;
	margin: 10px;
}

.myStory p {
	font-family: Lato;
	font-weight: 300;
	text-align: justify;
	width: 960px;
	font-size: 16px;
	color: #595959;
	line-height: 1.5;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;

}

.quoteBar {
	background-color: #A8DBA8;
	height: 120px;
}

.greyBackground {
	width: 50px;
	height: 50px;
	background-color: #595959;
	border-radius: 5px;
}

.contactChoices {
	text-align: center;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 70px;
}

.contactChoices li {
	display: inline;
}

.contactChoices li img {
	width: 30px;
	height: 30px;
	padding: 10px;
} 




