html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}	

body {
	font-size: 16px;
}

/* ---------------------------------- video section ------------------------------------------- */
#summer { /*top video section*/
	height: 39em;
	width: 100%;
}

#summer video {
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	z-index: -100;
	background-size: cover;
}

.videoText {
	text-align: center;
}

#topLine {
	font-family: Josefin Slab;
	font-size: 4.375em;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3.7em;
	text-align: center;
	z-index: 100;
	text-transform: uppercase;
}

#secondLine {
	font-family: Lato;
	font-size: 1.775em;
	width: 41.379310344827586%;
	color: #FFFFFF;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-weight: 200;
	margin-top: -0.515em;
	z-index: 100;
}

.bounce {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 30px;
	z-index: 100;
}

.bounce img {
	height: 20px;
	width: auto;
	padding: 5px;
}

.menuBar {
	background-color: #FFFFFF;
	color: #595959;
	height: 60px;
	box-shadow: 0px 0.5px 1px #888888;
	position: fixed;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	z-index: 10000;
	display: none;
}

.menuBarText {
	margin-left: auto;
	margin-right: auto;
}

.menuBar p {
	font-family: Josefin Slab;
	font-weight: 300;
	display: inline;
	position: relative;
	float: left;
	font-size: 1.875em;
	margin-top: 15px;
	margin-left: 7.586206896551724%;
}

.menuBar ul {
	margin-right: 4.1379310344827586%;
}

.menuBar li {
	font-family: Lato;
	font-weight: 300;
	display: inline;
	font-size: 1em;
	position: relative;
	float: right;
	margin-right: 3.4482758620689655%;
	top: 20px;
}

.menuBar img {
	position: inline-block;
	width: 18px;
	display: none;
	cursor: pointer;
	cursor: hand;
}

.dropDown {
	width: 120px;
	z-index: 10000;
	display: none;
	font-size: 1em;
	box-shadow: 0px 0.5px 1px #888888;
	margin-top: 61px;
	position: fixed;
	right: 23px;
}

.dropDown li {
	color: #595959;
	background-color: #FFFFFF;
	padding: 10px;
	width: 120px;
	text-align: center;
	font-family: Lato;
	font-size: 1em;
	font-weight: 300;
	box-shadow: 0px 0.5px 1px #888888;
	margin-bottom: 1px;
	right: 2px;
	overflow: hidden;
}

#learnmoresec a:link {
	color: #595959;
	text-decoration: none;
}

#learnmoresec a:visited { 
	color: #595959; 
	text-decoration: none;
}

#learnmoresec a:hover { 
	color: #595959; 
	text-decoration: none;
}

#learnmoresec a:active { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:link {
	color: #595959;
	text-decoration: none;
}

.menuBar a:visited { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:hover { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:active { 
	color: #595959; 
	text-decoration: none;
}

.dropDown a:link {
	color: #595959;
	text-decoration: none;
}

.dropDown a:visited { 
	color: #595959; 
	text-decoration: none;
}

.dropDown a:hover { 
	color: #595959; 
	text-decoration: none;
}

.dropDown a:active { 
	color: #595959; 
	text-decoration: none;
}

/* ------------------------------------- general groupings ----------------------------------------------- */

section {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	margin-bottom: 70px;
	display: block;
	background-color: green;
}

section h2 { /*header for each section*/
	text-align: center;
	font-family: Lato;
	font-size: 1.875em;
	font-weight: 300;
	color: #595959;
	margin-top: 70px;
	margin-bottom: 20px;
	width: 100%;
}

hr {
	color: #E0E0E0;
	background-color: #E0E0E0;
	height: 1px;
	border: none;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 25px;
}

/* ---------------------------------- my story section -------------------------------------------- */

.myStoryContent {
	position: relative;
	display: inline-block;
}

.myStoryContent img {
	width: 49%;
	position: relative;
	margin-right: 1%;
	float: left;
}

.myStoryContent p {
	font-family: Lato;
	font-weight: 300;
	color: #595959;
	font-size: 1.1em;
	line-height: 1.8;
	text-align: justify;
	position: relative;
	margin-left: 1%;
	width: 49%;
	float: right;
}

/* ------------------------------- portfolio section ------------------------------------------ */

.item {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.item li {
	display: inline-block;
}

.img-wrap { /* each li */
	width: 375px;
	position: relative;
	overflow: hidden; 
}

.img-wrap img {
	width: 375px;
	float: left;
	margin-bottom: 20px;
}

.img-wrap p { /* label under portfolio */
	text-align: center;
	font-family: Lato;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 70px;
}

.img-overlay {
	background-color: #000;
	top: 0;
	color: #fff;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 67%;
	z-index:1000;
}

.img-wrap:hover .img-overlay {
	opacity:0.85;
	transition:opacity 0.25s;
	-moz-transition:opacity 0.25s;
	-webkit-transition:opacity 0.25s;
}

.img-overlay a {
	font-family: Lato;
	font-size: 20px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding: 12px;
	font-weight: 300;
}

.img-overlay a:hover {
	background-color: #FFFFFF;
	color: #595959;
}

.item a:link {
	color: #FFFFFF;
	text-decoration: none;
}

/* ------------------------------------- contact section --------------------------------------- */

#contact {
	position: relative;
	text-align: center;
}

.contactChoices li {
	display: inline;
}

.contactChoices li img {
	width: 30px;
	height: 30px;
	padding: 13px;
	margin: 5px;
	background-color: #595959;
	border-radius: 5px;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

/* --------------------------------------- footer section -------------------------------------- */

footer {
	background-color: #FFFFFF;
	color: #595959;
	height: 60px;
	box-shadow: 0.5px 0px 1px #595959;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	z-index: 10000;
}

footer p {
	font-weight: 300;
	font-family: Lato;
	padding-top: 23px;
	font-size: 1em;
}

/* ---------------------------------------------------------------------------------------------
media queries
----------------------------------------------------------------------------------------------*/

@media only screen and (max-width : 480px) { /*smallest screen*/
	body {
		font-size: 15px;
	}

	#summer video {
		display: none;
	}

	header {
		background: url("images/Query_Img.png");
		width: auto;
		background-size: 250%;
		background-position: -120px -50px;
		overflow: hidden;
	}

	#topLine {
		margin-top: 45px;
		width: 95%;
		color: #FFFFFF;
		font-size: 3.675em;
	}

	#secondLine {
		padding-top: 12px;
		width: 100%;
		color: #FFFFFF;
		font-size: 1.25em;
		margin-top: -1em;
	}

	.menuBar p {
		font-family: Josefin Slab;
		font-weight: 300;
		display: inline;
		position: relative;
		float: none;
		font-size: 1.875em;
		margin-top: 14px;
		margin-left: auto;
		margin-right: auto;
	}

	.menuBar ul {
		display: none;
	}

	.menuBar li {
		display: none;
	}

	#mystory {
		width: 74.48275862068966%;
	}

	#mystory img {
		width: 225px;
		position: relative;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 2px;
	}

	#mystory p {
		font-family: Lato;
		font-weight: 300;
		color: #595959;
		font-size: 1.125em;
		line-height: 2;
		text-align: justify;
	}

	.img-wrap {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		overflow: hidden;
	}	

	.item img {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		float: none;
		display: block;
	}

	.item li {
		display: block;
	}

	.img-overlay {
		background-color: #000;
		bottom: 0;
		color: #fff;
		opacity: 0.85;
		position: absolute;
		z-index: 1000;
		display: block;
	}

	.img-wrap a {
		font-family: Lato;
		font-size: 14px;
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
		padding: 12px;
		font-weight: 300;
	}

	#mystory p {
		text-align: justify;
	}

	#summer video {
		position: absolute;
		width: 100%;
		height: auto;
		z-index: -100;
		background-size: cover;
		display: none;
	}
}

@media only screen and (max-width : 875px) { /*second media query*/
	.menuBar p {
		font-family: Josefin Slab;
		font-weight: 300;
		display: inline-block;
		position: relative;
		float: left;
		font-size: 1.375em;
		margin-top: 18px;
		margin-left: 25px;
	}

	.menuBar ul {
		display: none;
	}

	.menuBar li {
		display: none;
	}

	.menuBar img {
		float: right;
		position: relative;
		display: inline-block;
		width: 18px;
		right: 25px;
		top: 20px;
	}

	#topLine {
		padding-top: 3em;
		width: 95%;
	}

	.myStoryContent {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.myStoryContent img {
		width: 85%;
		position: relative;
		margin-right: auto;
		margin-left: auto;
		float: none;
		padding-bottom: 20px;
	}

	.myStoryContent p {
		font-family: Lato;
		font-weight: 300;
		color: #595959;
		font-size: 1em;
		line-height: 2;
		text-align: justify;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 85%;
		float: none;
	}

	.img-overlay {
		display: none;
	}

	.img-overlay a {
		display: none;
	}
}

@media only screen and (max-width : 1024px) { /*third media query*/
	.img-wrap {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 290px;
		overflow: hidden;
	}	

	.img-overlay {
		background-color: #000;
		bottom: 0;
		color: #fff;
		opacity: 0.85;
		position: absolute;
		z-index: 1000;
		display: block;
	}

	.img-wrap a {
		font-family: Lato;
		font-size: 14px;
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
		padding: 12px;
		font-weight: 300;
	}
}
























