html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}	

header {
	background-image: url("Images/summerhero.png");
	background-repeat: no-repeat;
	height: 720px;
	width: 100%;
	background-size: 100%;
}

#topLine {
	font-family: Josefin Slab;
	font-size: 4.375em;
	width: 74.48275862068966%;
	color: #595959;
	margin-left: auto;
	margin-right: auto;
	padding-top: 250px;
	text-align: center;
}

#secondLine {
	font-family: Lato;
	font-size: 1.875em;
	width: 41.379310344827586%;
	color: #595959;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-weight: 300;
	margin-top: -15px;
}

#learnmoresec {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 30px;
}

#learnmoresec img {
	height: 20px;
	width: auto;
	padding: 5px;
}

.menuBar {
	background-color: #FFFFFF;
	color: #595959;
	height: 60px;
	box-shadow: 0px 0.5px 1px #888888;
	position: fixed;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	z-index: 100;
	display: none;
}

.menuBar p {
	font-family: Josefin Slab;
	font-weight: 300;
	display: inline;
	position: relative;
	float: left;
	font-size: 1.875em;
	margin-top: 14px;
	margin-left: 7.586206896551724%;
}

.menuBar ul {
	margin-right: 4.1379310344827586%;
}

.menuBar li {
	font-family: Lato;
	font-weight: 300;
	display: inline;
	font-size: 1em;
	position: relative;
	float: right;
	margin-right: 3.4482758620689655%;
	top: 20px;
}

#learnmoresec a:link {
	color: #595959;
	text-decoration: none;
}

#learnmoresec a:visited { 
	color: #595959; 
	text-decoration: none;
}

#learnmoresec a:hover { 
	color: #595959; 
	text-decoration: none;
}

#learnmoresec a:active { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:link {
	color: #595959;
	text-decoration: none;
}

.menuBar a:visited { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:hover { 
	color: #595959; 
	text-decoration: none;
}

.menuBar a:active { 
	color: #595959; 
	text-decoration: none;
}

section h2 {
	text-align: center;
	font-family: Lato;
	font-size: 30px;
	font-weight: 300;
	color: #595959;
	margin-top: 70px;
	margin-bottom: 20px;
}

hr {
	color: #E0E0E0;
	background-color: #E0E0E0;
	height: 1px;
	border: none;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 3.4482758620689655%;
}

.contentsec {
	margin-bottom: 70px;
	width: 74.48275862068966%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.laptop img {
	width: 335px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
}

.row-one li {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.row-one p {
	display: block;
	position: relative;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: Lato;
	font-weight: 300;
	color: #595959;
	font-size: 1.125em;
	margin-bottom: 100px;
}

.row-two li {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.row-two p {
	display: block;
	position: relative;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: Lato;
	font-weight: 300;
	color: #595959;
	font-size: 1.125em;
	margin-bottom: 100px;
}

.row-three li {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.row-three p {
	display: block;
	position: relative;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: Lato;
	font-weight: 300;
	color: #595959;
	font-size: 1.125em;
}

.row a:link {
	color: #595959;
	text-decoration: none;
}

.row a:visited { 
	color: #595959; 
	text-decoration: none;
}

.row a:hover { 
	color: #595959; 
	text-decoration: none;
}

.row a:active { 
	color: #595959; 
	text-decoration: none;
}

#mystory img {
	width: 200px;
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

#mystory p {
	font-family: Lato;
	font-weight: 300;
	color: #595959;
	font-size: 1.125em;
	line-height: 2;
	text-align: justify;
}

#contact {
	position: relative;
	display: block;
}

.contactChoices li {
	display: inline;
}

.contactChoices li img {
	width: 30px;
	height: 30px;
	padding: 13px;
	margin: 5px;
	background-color: #595959;
	border-radius: 5px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 480px) {
	.menuBar p {
		display: none;
	}
	.menuBar li {
		text-align: center;
	}
};

@media screen and (max-width: 768px) {

};

@media screen and (min-width: 768px) {
	
};

